body {
    background-color: rgb(12, 112, 123);
}
.main-title {
    color: white; 
    text-align: center; 
    font-size:8vw; 
    font-family: "Trebuchet MS";
}
    
h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Trebuchet MS";
}
  
h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS";
    margin-top: 0px;
    margin-bottom: 5px;
}
p {
    color: white; 
    text-align: center; 
    font-size:20px; 
    font-family: "Trebuchet MS";
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
}
.profile{
    border: 2px dashed White;
    margin: auto; 
    background-color: rgb(62, 162, 173);
}
  
  .profile-picture{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .project-preview {
    display: block;
    max-width: 80%;
    border: 2px solid White;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(62, 162, 173);
  }

.project-preview:hover{
  background-color: rgb(32, 132, 143);
}

  .project-preview-image{
    display: block;
    width: 90%;
    margin: auto;
  }
    
  @media screen and (max-width: 700px){
    .main-title{
      font-size: 32px;
    }
    
    h2{
      font-size: 24px
    }
    
    .profile{
      max-width: 90%;
    }
    
    .profile-picture{
      width: 50%;
    }
    
    .project-preview-image{
      display: block;
      width: 90%;
      margin: auto;
    }
    
    .project-preview{
      margin: auto;
    }
  }
  
  @media screen and (min-width: 701px){
    .profile{
      width: 55%;
    }
    
    .project-preview{
      width: 90%;
    }
  }
  
  @media screen and (min-width: 1200px){
    .main-title{
      font-size: 50px;
    }
    
    .profile{
      width: 40%;
      max-width: 550px;
    }
    
    .project-preview{
      width: 90%; 
    }
    
    .project-preview-image{
      max-height: 300px;
      width: auto;
    }
  }