html {
    background-color: #F4F1F7;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 5.5em;
    color: white;
    text-align: center;
    padding-top: 1em;
}

h1, h2 {
    font-weight:600;
    color: white;
}

p {
    font-weight:600;
    color: #2b2830;
    margin: 5px;
}

header {
    background-image: linear-gradient(90deg, #3F9FD7, #C46BD7);
}

.overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5%;
    background-image: linear-gradient(90deg, #3F9FD7, #C46BD7);
    padding: 10%;
}

.hook-container {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-right: 2em;
}

.hook {
    text-align: left;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.purpose {
    font-size: 1.5em;
    font-weight: 150;
    color: rgb(226, 226, 226);
}

.download-container {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: start;
}

.download-button {
    height: 50px;
    cursor: pointer;
}

.mock-container {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: 1fr;
}

.mock {
    max-width: 100%;
}

.mock-left {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
}

.mock-right {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
}

main {
    margin: 1em;
    display: flex;
    justify-content: left;
    flex-flow: column;
    align-items: center;
}

main form {
    margin: 1em;
}

.text-box {
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 1.2em;
}

.button {
    border: 0;
    background-image: linear-gradient(90deg, #3F9FD7, #C46BD7);
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color:rgb(226, 226, 226);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 0px 10px;
    cursor: pointer;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.gradient {
    background-color: #3F9FD7;
    background-image: linear-gradient(90deg, #3F9FD7, #C46BD7);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.demo {
    width: 50%;
}


@media (max-width: 50em) {
    .overview {
        display: inline;
        width: 100%;
        padding: 0%;
    }

    .hook-container {
        margin: 1.5em;
    }

    .hook {
        text-align: center;
        font-size: 2em;
    }

    .purpose {
        text-align: center;
    }

    .mock-container {
        max-width: 70%;
        margin: auto;
    }

    .download-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
    }

    .download-button {
        margin: 1em;
    }
}